<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span role="link" tabindex="0" routerLink="home">AI Showcase</span>
    <nav>
      <mat-icon role="link" tabindex="0" routerLink="home">home</mat-icon>
      <mat-icon role="link" tabindex="0" routerLink="compare"
        >compare_arrows</mat-icon
      >
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<div class="social-links">
  <div
    class="psybercity"
    role="link"
    tabindex="0"
    (click)="goToURL('https://psyber.city/')"
  >
    <img src="../assets/psybercity.png" />
  </div>
  <div
    class="github-link"
    role="link"
    tabindex="0"
    (click)="goToURL('https://github.com/mandarini/ai-showcase')"
  >
    view the code />
  </div>
</div>
