$deepmind-color: #0053d6;

mat-sidenav-container {
  height: 100vh;

  mat-sidenav {
    color: white;
    background: $deepmind-color;

    .sidenav-links {
      padding: 30px 20px;
      height: 92vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .top-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          font-family: "Deepmind Sans";
          cursor: pointer;
          font-size: 40px;
        }
        nav {
          margin-top: 16px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          mat-icon {
            font-size: 30px;
            height: 30px;
            padding: 0 14px;
            margin-bottom: 24px;
            cursor: pointer;
          }
        }
      }

      .psybercity {
        cursor: pointer;
        height: 30px;
        img {
          height: 30px;
        }
      }
    }
  }
}

.content {
  padding: 0 16px;
}

.social-links {
  z-index: 3;
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .github-link {
    font-family: "Deepmind Sans";
    cursor: pointer;
    background-color: hotpink;
    color: white;
    padding: 8px;
  }

  .github-link:hover {
    background-color: white;
    color: hotpink;
  }
}
