$deepmind-color: #0053d6;

mat-sidenav-container {
  height: 100vh;
  mat-sidenav {
    color: white;
    background: $deepmind-color;

    .sidenav-links {
      padding: 30px 20px;
      height: 92vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .top-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          font-family: "Deepmind Sans";
          cursor: pointer;
          font-size: 40px;
        }
        nav {
          margin-top: 16px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          mat-icon {
            font-size: 30px;
            height: 30px;
            padding: 0 14px;
            margin-bottom: 24px;
            cursor: pointer;
          }
        }
      }

      .psybercity {
        cursor: pointer;
        height: 30px;
        img {
          height: 30px;
        }
      }
    }
  }
}

.content {
  padding: 0 16px;
}

.social-links {
  z-index: 3;
  position: absolute;
  bottom: 0px;
  right: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  #wrapper2 {
    cursor: pointer;
    width: 100px;
    height: 100px;
    perspective: 200px;
    -webkit-perspective: 200px;
    margin: 0px auto;
  }

  .cube {
    position: relative;
    width: 100px;
    height: 50px;
    transform-style: preserve-3d;
    transform: rotateY(0deg) rotatex(0deg);
    transition: 200ms ease-in;
  }

  .cube:hover {
    transform: rotateX(0deg) rotateY(180deg);
  }

  .cube div {
    position: absolute;
    width: 100px;
    height: 50px;
    background: rgba(0, 0, 0, 0.1);
  }

  .cube div:nth-child(1) {
    transform: translateZ(25px);
    background: #b929ff94;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .cube div:nth-child(2) {
    transform: rotateX(180deg) translateZ(25px);
    background: #0059a793;
    color: white;
    font-size: 30px;
    font-weight: 800;
  }

  .cube div:nth-child(3) {
    width: 50px;
    height: 50px;
    transform: rotateY(-90deg) translateZ(25px);
    background: #da445394;
  }

  .cube div:nth-child(4) {
    width: 50px;
    height: 50px;
    transform: rotateY(90deg) translateZ(75px);
    background: #a8c1ff8c;
  }

  .cube div:nth-child(5) {
    transform: rotateX(90deg) translateZ(25px);
    background: #fc4b1a83;
  }

  .cube div:nth-child(6) {
    transform: rotateX(-90deg) translateZ(25px);
    background: #f7b63393;
  }
}
