.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 100px;
  grid-template-areas: "category agentOne agentTwo";
  border: 1px solid #cecece;

  .agents {
    border-right: 1px solid #cecece;
    position: relative;
    padding: 25px 0 25px 0;
  }

  .category {
    grid-area: category;
    padding: 40px 0 25px 0;
    border-right: 1px solid #cecece;
  }
  .agent-one {
    grid-area: agentOne;
  }

  .agent-two {
    grid-area: agentTwo;
  }
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
