<div class="search">
  <div class="agent-search">
    <mat-form-field>
      <mat-label>Agent one</mat-label>
      <input
        [formControl]="agentOneSearch"
        matInput
        placeholder="Search for agent one"
      />
    </mat-form-field>
    <ng-container
      *ngIf="(agentOneSearchResultLoadState$ | async) === 'LoadedSuccessfully'"
    >
      <ul *ngFor="let agent of agentOneSearchResult$ | async">
        <li (click)="agentOne = agent">{{ agent.name }}</li>
      </ul>
    </ng-container>
    <ng-container *ngIf="(agentOneSearchResultLoadState$ | async) === 'Loading'"
      >Loading
    </ng-container>
  </div>
  <div class="agent-search">
    <mat-form-field>
      <mat-label>Agent two</mat-label>
      <input
        matInput
        [formControl]="agentTwoSearch"
        placeholder="Search for agent two"
      />
    </mat-form-field>
    <ng-container
      *ngIf="(agentTwoSearchResultLoadState$ | async) === 'LoadedSuccessfully'"
    >
      <ul *ngFor="let agent of agentTwoSearchResult$ | async">
        <li (click)="agentTwo = agent">{{ agent.name }}</li>
      </ul>
    </ng-container>
    <ng-container *ngIf="(agentTwoSearchResultLoadState$ | async) === 'Loading'"
      >Loading
    </ng-container>
  </div>
</div>
<ng-container *ngIf="agentOne">
  <div class="grid-container">
    <div class="category"></div>
    <div class="agents">{{ agentOne.name }}</div>
    <div class="agents">{{ agentTwo ? agentTwo.name : "" }}</div>
  </div>
  <div
    *ngFor="let category of getCategories(agentOne.tasks) | keyvalue"
    class="grid-container"
  >
    <div class="category">{{ category.key }}</div>
    <div class="agents agent-one">
      <ai-task
        [category]="category.value"
        [smaller]="
          agentOne &&
          agentTwo &&
          category.value &&
          category.value.average &&
          getCategories(agentTwo.tasks) &&
          getCategories(agentTwo.tasks)[category.key] &&
          getCategories(agentTwo.tasks)[category.key].average &&
          getCategories(agentTwo.tasks)[category.key].average >
            category.value.average
        "
      ></ai-task>
    </div>
    <div class="agents agent-two">
      <ai-task
        [category]="
          agentTwo &&
          getCategories(agentTwo.tasks) &&
          getCategories(agentTwo.tasks)[category.key]
            ? getCategories(agentTwo.tasks)[category.key]
            : null
        "
        [smaller]="
          agentOne &&
          agentTwo &&
          category.value &&
          category.value.average &&
          getCategories(agentTwo.tasks) &&
          getCategories(agentTwo.tasks)[category.key] &&
          getCategories(agentTwo.tasks)[category.key].average &&
          getCategories(agentTwo.tasks)[category.key].average <
            category.value.average
        "
      ></ai-task>
    </div>
  </div>
</ng-container>
